body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2d2d;
  color: white;
}

main {
  flex: 1;
}

.fa-brands {
  size: 2px;
}
.site-container {
  min-height: 100vh;
}

.rating span {
  color: #ffc000;
  display: inline-block;
}

.rating span p {
  color: white;
  margin-left: 2px;
}

.prodName,
.aisleName {
  color: white;
  text-decoration: none;
  font-size: auto;
}

.prod-card {
  padding: 1rem;
}

.btn-yellow-black-txt {
  background-color: #ffc000;
  color: black;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: auto;
  margin-bottom: 0.5rem;
}

.btn-amzn{  background-color: #ffc000;
  color: black;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: auto;
  margin-bottom: 0.5rem;}

.btn-yellow-black-txt-wide {
  background-color: #ffc000;
  color: black;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 69%;
  font-size: auto;
  margin: 0.5rem;
}

.logo p {
  font-size: 2rem;
  display: inline;
  font-weight: bold;
}

.logo {
  display: flex;
  align-self: left;
  align-items: baseline;
padding-left: 0.5rem;
padding-top: 0.5rem;
margin-bottom: 1rem;
}
.logo i {
  font-size: 1.5rem;
}

.aisle-card {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0px;
}

.topbar {
  width: screen;
  background-color: black;
  min-height: fit-content;
}

.navbar-prime-link{
   color: white;
font-size: 1rem;
text-decoration: none;
position: absolute;
left: 5.5rem;
bottom: 0.2rem;
}

#navbar-contact{
     color: white;
font-size: 1rem;
text-decoration: none;
position: absolute;
left: 15.5rem;
bottom: 0.2rem;
}

#navbar-contact:hover{
  color: white;
}
.navbar-best-sellers-link:hover{
  color: white;
}
.navbar-best-sellers-link{
   color: white;
font-size: 1rem;
text-decoration: none;
position: absolute;
left: 9rem;
bottom: 0.2rem;
}
.navbar-prime-link:hover{
  color: white;
}
.btn-sidebar-toggle{
  color: white;
font-size: 1rem;
position: absolute;
left: 0;
bottom:-0.2rem;
margin-left: 1.5rem;
}

.btn-sidebar-toggle:hover{
  color: white;
}
.full-width{
width: 100%;
flex:1;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.prod-txt {
  color: white;
}

.g-2{
  background-color: #000000;
  color: white;
}
.black-bg {
  background-color: black;
  border-radius: 1rem;
  color: white;
  min-width: fit-content;
}

p {
  color: white;
  /* make html respect \n characters */
  white-space: pre-line
}

p:hover{
  color: #e89e4a;
}

.reviews-div{
  max-width: 800px;
}
.amzn-link {
  display: inline-block;
  font-size: auto;
  text-decoration: none;
  color: #ffc000;
}

.amzn-link:hover {
  color: #ffc000;
  text-decoration: underline;
}

#white-link{
  color: white;
  text-decoration: none;
}

#white-link:hover{
  color: white;
  text-decoration: none;
}

.rounded-border-black-bg {
  border-radius: 2rem;
  background-color: black;
  padding: 2rem;
  flex-wrap: wrap;
  min-width: fit-content;
}

.rounded-border-black-bg-small {
  border-radius: 2rem;
  background-color: black;
  /* top right bottom left  */
  padding: 0.5rem 2.5rem 1rem 2.5rem;
  flex-wrap: wrap;
  max-width: 600px;
}

.rounded-border-black-bg-wide {
  width: 90%;
  border-radius: 2rem;
  background-color: black;
  padding: 1rem;
  flex-wrap: wrap;
}

.shipping-menu {
  border-radius: 2rem;
  background-color: black;
  /* top right bottom left  */
  padding: 1rem 2.5rem 1rem 2.5rem;
  flex-wrap: wrap;
  width: 88%;
  margin: 2rem;
}
.img-large {
  border-radius: 1rem;
  justify-self: flex-start;
width: 100%;
  object-fit: scale-down;
  max-height: 70%;
}

.white-txt {
  color: white;
}

.black-bg-height-25 {
  background-color: black;
  height: 100%;
}

h3 {
  color: white;
  font-size: auto;
  display: inline-block;
}

.cart-page-left-left-div {
  width: fit-content;
    display: inline-block;
    max-width: 400px;
    margin-left: 2rem;
    margin-top: 5rem;
    font-size: auto;
}


.cart-page-left-right-div {
  padding-top: 15%;
  width: max-content;
}


.col2 {
  display: flex;
  flex-basis: 50%;
  align-content: flex-start;
}
.black-bg-max-width-500px {
  background-color: black;
  max-width: 500px;
}

.shop-now-img {
  max-width: 75%;
}

.normal-ass-black-txt {
  color: black;
  text-decoration: none;
}

.normal-ass-white-txt {
  color: white;
  text-decoration: none;
}

.btn-black-bg-white-txt {
  background-color: black;
  color: white;
}
.btn-black-bg-white-txt:hover {
  color: white;
  text-decoration: underline;
}

.one-line-child {
  display: inline-block;
}

.one-line-child-vertical-center {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 33%;
}



.one-line-parent {
  white-space: nowrap;
}


.cart-page-h1-txt {
  padding: 0px;
  color: white;
  font-size: xxx-large;
}

.cart-page-txt {
  font-size: xx-large;
}

.prodName:hover {
  color: white;
}

.btn-light {
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: auto;
  margin-bottom: 0.5rem;
}

.normal-ass-white-txt:hover {
  color: white;
}
.small-container {
  max-width: 600px;
}

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  size: auto;
}


.btn-returns-and-orders {
  background-color: black;
  color: white;
  text-align: left;
  width: fit-content;
  font-size: 1rem;
  margin-top: 0.5rem;
  max-height: 5rem;
}

#search-box{
  width:100%;
  min-height: 2.7rem;
}
#search-box-inside{
  background-color: #333333;
  border: none;
  color: white;
}


.btn-hello-sign-in {
  background-color: black;
  color: white;
  text-align: left;
  width: fit-content;
  margin-right: 1rem;
  font-size: 0.9rem;
  max-height: 5rem;
}
.btn-hello-sign-in h6{
    font-size: 0.9rem;
}
.cart-logo-container {
  padding-bottom: none;
  white-space: nowrap;
  color: white;
  display: block;
   position:relative;                
                top:25%; 
}

.btn-hello-sign-in:hover {
  color: white;
}

.btn-returns-and-orders:hover {
  color: white;
}

#basic-nav-dropdown {
  color: white;
}

#basic-nav-dropdown-item {
  background-color: #3c3c3c;
  padding: none;
}

.grey-bg-white-txt {
  background-color: #3c3c3c;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #e89e4a;
  color: #e89e4a;
}

.max-width-800px {
  max-width: 800px;
}

.h6 {
  color: white;
}

#p-wrap {
  white-space: pre-line;
}

p:hover {
  color: white;
}

.colored-price{
color: #ff8742;
}

.d-hub {
  background-color: #ffc000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: black;
  border-radius: 2rem;
  padding-top: none;
  padding-bottom: none;
}

.d-hub:hover {
  color: black;
}

.square-logo {
  background-color: #ffc000;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  color: black;
  border-radius: 1.5rem;
  width: fit-content;
  font-size: 250px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  letter-spacing: -1rem;
}

.disclaimer {
  display: inline-block;
  font-size: auto;
  background-color: rgb(241, 119, 119);
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
  color: black;
  width: fit-content;
}

.place-order-parent {
  max-width: 1200px;
  background-color: #2f2f2f;
  margin: auto;
  border-radius: 1rem;
}

.img-fluid {
  max-height: 250px;
  object-fit: cover;
}

.max-width-1000px {
  max-width: 1000px;
  width: 100%;
}

.smoll-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  padding: 0.5rem;
  background-color: black;
}

.items-stacked {
  flex-direction: "row";
  flex: 1;
}

footer {
  background-color: black;
  min-height: 2rem;
  margin-top: 2rem;
}

.order-summary-col {
  min-width: 22rem;
  max-width: 55rem;

}

.paypal {
 max-width:33rem;
  background-color: black;
  border-radius: 2rem;
  border: solid black 1rem;
}

.not-real-site-txt {
  color: black;
  font-size: auto;
  text-decoration: none;
}

.not-real-site-txt :hover {
  text-decoration: underline;
  color: black;
}

.copyright-txt {
  font-size: 11px;
}

th {
  color: white;
}

td {
  color: white;
}

.me-auto {
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  background-color: black;
}


.user-info-dropdown {
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.stack-contents-parent {
  display: grid;
}

#basic-nav-dropdown{
  transition: 0.5s;
}


.turquoise{
  color: turquoise;
  text-decoration: none;
}

#turquoise{
  color: turquoise;
  text-decoration: none;
}

#turquoise:hover{
  color: #e89e4a;
}

.turquoise:hover{
  color: #e89e4a;
}


#greyed-out{
  filter:grayscale();
}

#rating-distribution-temp img{
  max-width: 100%;
 object-fit: contain;
}

#hcaptcha{
  boder:none;
  background-color: #111111;
}

#myface{
    max-width: 100%;
 object-fit: contain;
}
/* stuff from my man basir ---------------------------------- */

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

.thumbnail {
  height: 8rem;
  width: 8rem;
}

.cart-img {
  height: 11rem;
  width: 11rem;
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}


.side-navbar {
  min-width: 250px;
  width: 40%;
  max-width: 500px;
  height: 100%;
  position: absolute;
  left: -100rem;
  background-color: #100901;
  transition: 0.5s;
  padding: 1rem;
  padding-left: 1.5rem;
}
h1{
  color: white;
}

#close-sidebar{
  position: absolute;
left: 260px;
top: 1rem;
font-size: 60px;
color: black;
}

#close-sidebar:hover{
  background-color: black;
  color: white;
  padding: 1rem;
  left: 245px;
  top:0;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
  z-index: 999;
}
.text-bold {
  font-weight: bold;
}


.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}

#button-search{
  border: none;
  color: black;
  background-color: #ffc000;
}

#button-search:hover{
  border: none;
  color: #ffc000;
  background-color: black;
}

.search-page-sidebar {
    list-style-type: none;
}

.about-page-list{
  margin-left: 1rem;
  margin-top: 0.5rem;
}
#clear-filters{
  margin-left:0.5rem ;
  padding: none;
 font-size: 0.7rem;
 text-decoration: none;
 font-weight: bold;
 align-content: left;
 color: black;
 width: fit-content;

}
li{
position: relative;
left:-2rem;
}

/* media queries -------------------------------------- */
@media only screen and (max-width: 1000px) {
  .rounded-border-black-bg {
    max-width: 600px;
  }

  .logo i {
    font-size: 1rem;
  }

  .logo p {
    font-size: 1.5rem;
  }

}


@media only screen and (min-width: 1200px) {
.screen-500px-stack {
  white-space: nowrap;
}
}
@media only screen and (max-width: 1200px) {
  .prod-page-div {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 700px) {
  .one-line-when-collapse-parent {
    white-space: nowrap;
  }

  .one-line-when-collapse-child {
    display: inline-block;
  }

  .cart-logo-container{
                    margin-left: 0.75rem                       

  }
}

@media only screen and (max-width: 500px) {
  .shop-now-img {
    margin-top: 4rem;
  }

  .cart-page-left-left-div {
    grid-column: 1;
    grid-row: 1;
    font-size: 1em;
  }

  .screen-500px-stack {
    display: grid;
  }
}
